body{
    width: 180px;
    background: whitesmoke;
    margin: 0;
}
.row{
    display: flex;
}
.row__item{
    flex-grow: 1;
    text-align: center;
}
.header{
    background: black;
    color: white;
    font-size: 25px;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    cursor: pointer;
}
.icons{
    width: 50px;
    color: black;
    padding: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.icons:hover{
    width: 60px;
}
.icons svg{
    width: 100%;
    height: 50px;
}
.icons:hover svg{
    fill: rgb(88, 128, 230);
}
input {
  display: block;
  opacity: 0;
}
label {
  width: 60px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  background: rgb(189, 189, 189);
  border-radius: 30px;
  
  transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
}
label:after {
  left: 0;
  width: 20px;
  height: 20px;
  margin: 5px;
  content: '';
  position: absolute;
  background: #FFF;
  border-radius: 10px;
}
input:checked + label {
  background: rgb(88, 128, 230);
}
input:checked + label:after {
  left: auto;
  right: 0;
}