### OSX ###
.DS_Store

### PhPStorm / IntellJ IDEA ###
.idea/
*.iml

### Dependencies ###
node_modules/
app/bower_components
test/bower_components
npm-debug.log

### Build Related ###
temp
.tmp
dist
.sass-cache
package
app/scripts